$font-primary: 'Roboto',
Arial,
sans-serif;
$white: #fff;
$main-black: #343436;
$blue: #156CFF;
$grey: #6D6D70;
$light-grey: #99999F;
$light-grey2: #B3B3B3;
$grey-text: #696969;
$red: #FE446E;
$light-bg: #FBFBFB;
$tariff-grey:#A5A9AE;
$tariff-blue: #0087F5;
$dark-bg:#444449;
$footer-text:#DDDDDD;