@import "reset";
@import "fonts";
@import "vars";
:root {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
  }
}

html,
body {
  width: 100%;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  font-size: 15px;
  font-family: $font-primary;
  color: $main-black;
  font-weight: normal;
  line-height: normal;
}

a {
  color: $main-black;
}

.container {
  max-width: 1153px;
  margin: 0 auto;
}

// Header
.header {
  padding-top: 36px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo-box {
    max-width: 150px;
  }
  &__reg-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.1625px;
  }
  &__login {
    color: $grey;
  }
  &__register {
    margin-left: 25px;
    color: $blue;
  }
}

// Hero
.hero {
  margin-top: 179px;
  text-align: center;
  &__slogan {
    display: inline-block;
    position: relative;
    font-size: 44px;
    letter-spacing: -0.6px;
    color: $main-black;
    line-height: 1.25;
  }
  &__iconset {
    position: absolute;
    top: -49px;
    left: -50px;
  }
  &__form {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 480px) {
      flex-direction: column;
    }
    input,
    button {
      height: 60px;
    }
  }
  &__input {
    padding-left: 22px;
    padding-right: 167px;
    font-size: 19px;
    color: $light-grey;
    background: #FFFFFF;
    border: 1px solid $light-grey;
    box-sizing: border-box;
    border-radius: 5px;
    @media only screen and (max-width: 768px) {
      padding-right: 15%;
    }
  }
  &__send {
    margin-left: -6px;
    padding-left: 48.5px;
    padding-right: 46.5px;
    text-transform: uppercase;
    color: $white;
    border: none;
    background: $blue;
    box-shadow: 0px 7px 42px rgba(179, 179, 179, 0.5);
    border-radius: 3px;
    &:hover {
      cursor: pointer;
    }
    @media only screen and (max-width: 480px) {
      margin-top: 30px;
    }
  }
}

.cookies {
  margin-top: 216px;
  padding-top: 70px;
  padding-bottom: 122px;
  background-image: url("../img/bg-cookies.png");
  background-size: cover;
  .container {
    max-width: 1440px;
  }
  &__inner-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  //squares
  &__squares {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__square {
    width: 142px;
    height: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $light-grey2;
    font-size: 25px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 3px;
  }
  &__square--two {
    margin-left: 20px;
    .cookies__square--picture {
      margin-top: 20px;
    }
  }
  .cookies__picture {
    width: 72px;
    height: 72px;
  }
  &__square--red {
    position: relative;
    width: 432px;
    height: 432px;
    margin-left: 20px;
    // padding: 172px 91px 21px 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $red;
    color: $white;
    box-shadow: 0px 7px 42px rgba(179, 179, 179, 0.5);
    border-radius: 3px;
  }
  &__red-raw {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
    margin-left: 25px;
    line-height: 46px;
    font-size: 45px;
  }
  &__city {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 14px;
    text-align: center;
  }
  // quantity
  &__quantity-box {
    margin-left: 8%;
    text-align: center;
  }
  &__quantity {
    font-size: 76px;
  }
  &__quantity-subtitle {
    font-size: 14px;
  }
}

// Rating
.rating {
  margin-bottom: 104px;
  text-align: center;
  &__stars-box {
    margin-bottom: 18px;
    img {
      display: inline-block;
      margin-right: 9px;
      margin-left: 9px;
    }
  }
  &__star {
    display: inline-block;
    width: 36.3px;
    height: 34.72px;
  }
  &__avg {
    margin-left: -14px;
    color: $main-black;
    font-size: 14px;
  }
}

// Feedback 
.feedback {
  .feedback__box {
    position: relative;
    max-width: 707px;
    margin: 0 auto;
    padding: 67px 47px 47px 46px;
    line-height: 31px;
    font-size: 19px;
    letter-spacing: 0.205833px;
    border: 2px solid #BEE3FF;
    box-sizing: border-box;
    border-radius: 3px;
    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 10px;
      display: block;
      width: 100.5%;
      height: 103%;
      //   background-color: #F2F9FF;
      background-image: url("../img/feedback-bg.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      z-index: -1;
    }
  }
  .feedback__text {
    color: #0087F5;
  }
  .feedback__author {
    margin-top: 18px;
    margin-left: 1px;
    letter-spacing: 0.3px;
  }
}

// Maker
.maker {
  .container {
    max-width: 763px;
  }
  margin-top: 96px;
  margin-bottom: 130px;
  text-align: center;
  &__title {
    font-size: 44px;
    letter-spacing: -0.6px;
  }
  &__subtitle {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
    margin-top: 37px;
    margin-bottom: 100px;
    line-height: 31px;
    font-size: 19px;
    letter-spacing: -0.6px;
    color: $grey-text;
  }
  &__step-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 136px;
    @media only screen and (max-width: 640px) {
      flex-direction: column;
      align-items: center;
      .maker__step-wrap {
        margin-bottom: 50px;
      }
      .maker__step-wrap--three {
        margin-bottom: 0;
      }
    }
  }
  &__step-wrap {
    position: relative;
    min-height: 140px;
  }
  &__step {
    position: relative;
    font-size: 12px;
    border: 2px solid #0087F5;
    box-sizing: border-box;
    box-shadow: 0px 7px 42px rgba(179, 179, 179, 0.5);
    border-radius: 3px;
  }
  &__icon-cursor {
    position: absolute;
    bottom: -12px;
    right: -10px;
  }
  .maker__icon-wrap {
    position: absolute;
    top: -8px;
    right: -10px;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    border-radius: 50%;
  }
  &__icon-check {
    position: static;
    width: 12px;
    height: 7px;
  }
  .maker__name {
    position: relative;
    margin-top: 19px;
    padding: 10px 54px 11px 13px;
    &:before {
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: #F2F9FF;
      border-radius: 3px;
      z-index: -1;
    }
  }
  .maker__step-wrap--two {
    margin-left: 47px;
  }
  .maker__style {
    position: relative;
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $blue;
    span {
      font-size: 17px;
    }
    &:before {
      content: "";
      position: absolute;
      top: 7px;
      left: 7px;
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: #F2F9FF;
      border-radius: 3px;
      z-index: -1;
    }
    &:after {
      content: "Acme";
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: -33px;
      left: -80px;
      width: 68px;
      height: 68px;
      color: $main-black;
      background-color: #F2F9FF;
      border-radius: 3px;
      z-index: -1;
    }
  }
  .maker__step-wrap--three {
    margin-right: 78px;
  }
  .maker__download {
    padding: 15px 5px 10px 5px;
    font-size: 11px;
    color: $white;
    background-color: $blue;
    border: none;
    .maker__icon-arrow-down {
      position: absolute;
      bottom: -45px;
      right: -45px;
    }
  }
  &__action {
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 2px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.4px;
    color: $grey-text;
    span {
      white-space: pre;
    }
  }
  .maker__action--style {
    margin-left: -98px;
    display: block;
  }
  .maker__action--download {
    margin-left: -27px;
  }
  &__link {
    padding: 20px 78px;
    line-height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    background-color: $blue;
    box-shadow: 0px 7px 42px rgba(179, 179, 179, 0.5);
    border-radius: 3px;
    transition: background-color .3s ease;
    &:hover {
      background-color: darken($blue, 15%);
    }
  }
}

// Tariffs
.tariffs {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 90px;
  background-image: url('../img/tariff-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 88%;
  .container {
    padding-top: 40px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    @media only screen and (max-width: 840px) {
      flex-direction: column;
      align-items: center;
    }
  }
  .tariff {
    min-width: 327px;
    padding: 39px 63px 83px 63px;
    text-align: center;
    background: $white;
    border: 1px solid #fff;
    box-shadow: 0px 7px 42px rgba(230, 230, 230, 0.5);
    border-radius: 5px;
    transition: all 0.2s ease;
    &:hover {
      border-color: $blue;
      cursor: pointer;
      .tariff__link {
        border-color: $blue;
        color: $blue;
      }
    }
  }
  .tariff__ninja {
    position: relative;
    margin-left: 64px;
    @media only screen and (max-width: 840px) {
      margin-top: 30px;
      margin-left: 0;
    }
    .tariff__iconset {
      position: absolute;
      bottom: -69px;
      right: -56px;
      transform: scale(-1, 1);
      img {
        transform: rotate(-75deg);
      }
    }
  }
  .tariff__title {
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.151667px;
    color: $light-grey;
  }
  .tariff__price {
    margin-top: 15px;
    margin-bottom: 54px;
    font-size: 67px;
    color: $main-black;
  }
  .tariff__desc {
    margin-bottom: 60px;
    line-height: 31px;
    font-size: 19px;
    text-align: center;
    letter-spacing: 0.205833px;
    color: $grey-text;
  }
  .tariff__desc-item {
    margin-bottom: 9px;
  }
  .tariff__link {
    padding: 20px 65px;
    font-size: 15px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 3px;
  }
}

// Order
.order {
  margin-top: 13px;
  margin-bottom: 114px;
  .container {
    text-align: center;
  }
  .order__title {
    margin-bottom: 72px;
    font-size: 44px;
    letter-spacing: -0.2px;
  }
}

//Footer
.footer {
  background-color: $main-black;
  color: $light-grey2;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 52px;
    padding-bottom: 58px;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
    }
  }
  .footer__left {
    margin-left: -2px;
    @media only screen and (max-width: 768px) {
      text-align: center;
    }
  }
  .footer__logo-link {
    margin-top: 5px;
    display: inline-block;
    color: $white;
    font-size: 22px;
  }
  .footer__desc {
    margin-top: 21px;
    margin-bottom: 28px;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: $grey-text;
  }
  .footer__copy {
    margin-bottom: 30px;
  }
  .footer__right {
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width: 480px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  .footer__column-one {
    margin-right: 177px;
    @media only screen and (max-width: 480px) {
      margin-right: 0;
    }
  }
  .footer__column-two {
    margin-right: 105px;
    @media only screen and (max-width: 480px) {
      margin-right: 0;
    }
  }
  .footer__item {
    display: block;
    line-height: 31px;
    font-size: 14px;
    color: $light-grey2;
    letter-spacing: 0.151667px;
    &:hover {
      color: $white;
    }
  }
}

@import "media";